*.exe
*.exe.*
*.exp
*.ilk
*.lib
*.pdb
*~
.DS_Store
/CMakeCache.txt
/CMakeFiles
/CTestTestfile.cmake
/Makefile
/Testing
/cbsasl*
/cmake_install.cmake
/hmac_test
/install_manifest.txt
/libcbsasl*dylib*
/libcbsasl.so*
/pwfile_test
/sasl_test
