*~
*.la
*.lo
*.log
*.trs
*.o
.deps/
.dirstamp
.DS_Store
.libs/
aclocal.m4
autom4te.cache/
config.cache
config.h
config.h.in
config.log
config.status
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
config/test-driver
configure
hmac_test
libtool
m4/
Makefile
Makefile.in
pwfile_test
sasl_test
stamp-h1
